# Mobitru settings
BROWSER_PROVIDER=mobitru
MOBITRU_BILLING_UNIT=personal
MOBITRU_ACCESS_TOKEN=your_access_token
# MOBITRU_HUB_URL=browserhub-us.mobitru.com

# ReportPortal settings
RP_PROJECT=your_project
RP_ENDPOINT=your_endpoint
RP_API_KEY=your_api_key
